# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Environment variables
.env

# SQLite database
*.db

# Logs
*.log

# Uvicorn
*.pid

# MacOS
.DS_Store

# Windows
Thumbs.db

# pytest
.pytest_cache/

# mypy
.mypy_cache/

# coverage
htmlcov/
.coverage
.coverage.*

# Jupyter Notebook
.ipynb_checkpoints/